body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#232b2b;
  
}

.bio{
  text-align: center;
  margin-top: 200px;
}



.container {
  text-align: center;
  margin-bottom: 100px;
}


h1{
  color: white;
}

h3{
  color: white;
}

a {
  text-decoration: none; /* Gets rid of dirty default underline */
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .05em solid black; /* Adjust border width */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 2s steps(40, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* Additional styles for the footer */
.social {
  position: fixed;
  margin-bottom: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.social img {
  width: 24px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 0 10px; /* Add margin between images */
 
  cursor: pointer;
}
 


/* Styles for the menu */
.menu {
  position: fixed;
  top: 20px;
  left: 50%; /* Adjusted to center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  text-align: center; /* Center the text inside */
  z-index: 999; /* Ensure menu stays on top */
}

.menu a {
  text-decoration: none;
  color: white;
  margin: 0 20px; /* Adjust spacing between buttons */
}

.menu a:hover {
  color: white; /* Change color on hover if needed */
  text-decoration-line: underline;
}
